
.country-card {
    margin-bottom: 3rem;
    cursor: pointer;
    text-decoration: none;
}

.country-image {
    display: block;
    width: 100%;
    height: 50%;
}

.country-card {
    height: 100%;
}

.country-content p:not(:last-child) {
    margin-top: 1rem;
    /*font-weight: 500;*/
    font-size: 1.1rem;
}

.country-content p:last-child {
    margin-top: 0.5rem;
}

.country-content p span {
    font-weight: 300;
    font-size: 0.8rem;
}
